In [1]:
import pandas as pd

In [17]:
path="D:/Trinity_DS/AdvancedSoftwareEngineernig/Project/Traffic/TransformedData/"
file="DIS_GPS_rolledup.csv"
df=pd.read_csv(path+file)
df['date']=pd.to_datetime(df['date'])
df['hours']=df['date'].dt.hour
df['day']=df['date'].dt.day
df['month']=df['date'].dt.month

In [27]:
df = df[['zone','hours','day','month','aggerateCount']]
newdf=df.groupby(['zone','hours','day','month']).agg({'aggerateCount':sum}).reset_index()

In [30]:
print(newdf)
newdf.to_csv(path+"out.csv",index = False)

        zone  hours  day  month  aggerateCount
0      CCITY      0    1      1          17098
1      CCITY      0    1      2          21325
2      CCITY      0    1      3          18508
3      CCITY      0    1      4          16556
4      CCITY      0    2      1          20426
5      CCITY      0    2      2          20762
6      CCITY      0    2      3          19225
7      CCITY      0    2      4          21972
8      CCITY      0    3      1          19691
9      CCITY      0    3      2          19689
10     CCITY      0    3      3          16895
11     CCITY      0    3      4          21976
12     CCITY      0    4      1          20272
13     CCITY      0    4      2          16773
14     CCITY      0    4      3          17614
15     CCITY      0    4      4          21115
16     CCITY      0    5      1          19360
17     CCITY      0    5      2          17482
18     CCITY      0    5      3          20800
19     CCITY      0    5      4          21773
20     CCITY      0    6      1          19364
21     CCITY      0    6      2          20754
22     CCITY      0    6      3          21711
23     CCITY      0    6      4          18520
24     CCITY      0    7      1          17838
25     CCITY      0    7      2          21246
26     CCITY      0    7      3          21267
27     CCITY      0    7      4          18772
28     CCITY      0    8      1          17993
29     CCITY      0    8      2          20634
...      ...    ...  ...    ...            ...
11582  WCITY     23   23      3          20509
11583  WCITY     23   23      4          22886
11584  WCITY     23   24      1          21171
11585  WCITY     23   24      2          20690
11586  WCITY     23   24      3          20021
11587  WCITY     23   24      4          23084
11588  WCITY     23   25      1          21404
11589  WCITY     23   25      2          20534
11590  WCITY     23   25      3          24444
11591  WCITY     23   25      4          22468
11592  WCITY     23   26      1          20934
11593  WCITY     23   26      2          21531
11594  WCITY     23   26      3          22640
11595  WCITY     23   26      4          21781
11596  WCITY     23   27      1          20234
11597  WCITY     23   27      2          21275
11598  WCITY     23   27      3          22508
11599  WCITY     23   27      4          20929
11600  WCITY     23   28      1          20368
11601  WCITY     23   28      2          21242
11602  WCITY     23   28      3          22265
11603  WCITY     23   28      4          20666
11604  WCITY     23   29      1          21745
11605  WCITY     23   29      2          20405
11606  WCITY     23   29      3          21433
11607  WCITY     23   29      4          22676
11608  WCITY     23   30      1          22093
11609  WCITY     23   30      3          20826
11610  WCITY     23   31      1          21576
11611  WCITY     23   31      3          20895

[11612 rows x 5 columns]